{{yield}}
<p class="annotationTag" title="Durch das bearbeiten des Eintrags kansst Anmerkungen entfernen und hinzufügen">
  {{instance.title}}
  {{#if editable}}
    <a {{action 'removeAnnotation'}} class="annotationTag__icon">
      <i class="material-icons">close</i>
    </a>
  {{/if}}
</p>
