{{yield}}

<div class="input-field">
  {{input value=instance.mail id="mail" type="email" class="validate"}}
  <label for="mail">E-Mail</label>
</div>
<div class="input-field">
  {{input value=instance.phone id="phone" type="text" class="validate"}}
  <label for="phone">Phone</label>
</div>
<div class="input-field">
  {{input value=instance.contactPerson id="contactPerson" type="text" class="validate"}}
  <label for="contactPerson">Contact Person</label>
</div>