<form {{action 'saveOrga' on='submit'}}>

      <div class="input-field">
        {{input value=orga.title id="title" type="text" class="validate"}}
        <label for="title">Title</label>
      </div>

      <div class="input-field">
        {{input value=orga.description id="description" type="text" class="validate"}}
        <label for="description">Description</label>
      </div>

      <button class="btn waves-effect waves-light" type="submit">Save</button>

</form>