{{yield}}

<ul>
  {{#each instances as |instance|}}
    <li>
      <h4>{{instance.title}}</h4>
      <div class="attributes">
        <p>Attributes:
          {{#each attributes as |attribute|}}
            <i>{{get instance attribute}},</i>
          {{/each}}
        </p>
      </div>
      <a {{action 'navigateToSingle' instance}}>Show single item</a>
      <hr>
    </li>
  {{/each}}
</ul>
