{{yield}}

<div class="input-field">
  {{input value=instance.street id="street" type="text" class="validate"}}
  <label for="street">Street</label>
</div>
<div class="input-field">
  {{input value=instance.number id="number" type="text" class="validate"}}
  <label for="number">Number</label>
</div>
<div class="input-field">
  {{input value=instance.city id="city" type="text" class="validate"}}
  <label for="city">City</label>
</div>