<div class="row">
    <div class="col s12 m6 push-m3">
    <h3>Create new Orga</h3>

    <form {{action 'save' on='submit'}}>

      <div class="input-field">
        {{input value=title id="title" type="text" class="validate"}}
        <label for="title">Titel</label>
      </div>

      <div class="input-field">
        {{input value=description id="description" type="text" class="validate"}}
        <label for="description">Description</label>
      </div>
      <button class="btn waves-effect waves-light" type="submit">Save</button>
    </form>
  </div>
</div>