{{outlet}}
<div style="margin-top: 1em; color: black;">
  <label>Übergeordnete Orga</label>
  <select class="browser-default" onchange={{action "selectParent" value="target.value"}}>
    {{#each orgas as |orga|}}
      <option value="{{orga.id}}">{{orga.title}}</option>
    {{/each}}
  </select>
</div>