<div id="login-canvas">
  <div id="login">
    <form {{action 'save' on='submit'}}>

      <div class="input-field">
        {{input value=title id="title" type="text" class="validate"}}
        <label for="title">Titel</label>
      </div>

      <div class="input-field">
        {{input value=description id="description" type="text" class="validate"}}
        <label for="description">Description</label>
      </div>
      <button class="btn waves-effect waves-light" type="submit">Save</button>
    </form>
</div>
</div>