{{yield}}

<div class="inputField__spacing">
  <label>Kategorie (Pflichtfeld)</label>
  {{forms/categories-form
    instance=parentInstance
    selectedParentCategory=false
  }}
</div>

{{#if showSubCategoryForm}}
  <div class="inputField__spacing">
    <label>Unterkategorie</label>
    {{forms/categories-form
      instance=childInstance
      selectedParentCategory=parentInstance
    }}
  </div>
{{/if}}