<div id="dashboard">
  <div class="row">
      <div class="col s12 m6">
        {{#link-to "protected.search"}}Suche{{/link-to}}
        
        <!-- TODOS LIST start -->
        <h2>Todos</h2>
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="http://loremflickr.com/100/100/colorful" alt="" class="circle">
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        </ul>
        {{#link-to "protected.todos"}}Alle Todos{{/link-to}}
        <!-- TODOS LIST end -->

      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content black-text">
            <span class="card-title">Organisationen ({{model.user.orgas.length}})</span>
            <p>Alle erstellten Organisationen</p>
          </div>
          <div class="card-action">
              {{#link-to "protected.orgas"}}Alle Orgas{{/link-to}}
              {{#link-to "protected.neworga"}}Neue Orga{{/link-to}}
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content black-text">
            <span class="card-title">Events ({{model.events.length}})</span>
            <p>Alle erstellen Events</p>
          </div>
          <div class="card-action">
              {{#link-to "protected.events"}}Alle Events{{/link-to}}
              {{#link-to "protected.newevent"}}Neues Event{{/link-to}}
          </div>
        </div>
      </div>
  </div>
</div>
{{outlet}}
