{{outlet}}
<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">TODO [in progress]</span>
          <p>Zu erledigende Aufgaben</p>
        </div>
        <div class="card-action">
            {{#link-to "protected.todos"}}Alle Todos{{/link-to}}
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">Organisationen ({{model.orgas.length}})</span>
          <p>Alle erstellten Organisationen</p>
        </div>
        <div class="card-action">
            {{#link-to "protected.orgas"}}Alle Orgas{{/link-to}}
            {{#link-to "protected.neworga"}}Neue Orga{{/link-to}}
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">Events [in progress]</span>
          <p>Alle erstellen Events</p>
        </div>
        <div class="card-action">
            {{#link-to "protected.events"}}Alle Events{{/link-to}}
            {{#link-to "protected.newevent"}}Neues Event{{/link-to}}
        </div>
      </div>
    </div>
</div>
