{{outlet}}

<div class="row">
  <div class="col s12 m8 push-m2">
    <div class="mainCard">
      <div class="mainCard__header mainCard__headerLight">
        <h2 class="mainCard__headerTitle">Bearbeiten von: {{titleCached}}</h2>
        <a href="#" {{ action 'goBack' }} class="mainCard__headerAction"><i class="material-icons">cancel</i></a>
      </div>
      <div>
        {{component "edit-event-form" event=model.event}}
      </div>
    </div>
  </div>
</div>
