{{outlet}}

<div class="row">
  <div class="col s12 m12">
    <div class="mainCard">
      <div class="mainCard__header">
        <h2 class="mainCard__headerTitle">Alle Todos </h2>
      </div>
      <div>
        {{entry-list instances=model.todos attributes=model.attributes sortOrder='updatedAt:desc'}}
      </div>
    </div>
  </div>
</div>
