
.entryForm {
  h2 {
    margin-top: 2em;
    font-size: 1.4em;
    font-weight: 500;
  }
  &__actionFooter {
    margin-top: 1.2em;
    display: flex;
    justify-content: space-between;
  }
}

.input-field {
  .flatpickr-input {
    color: inherit !important;
  }
}
