.entryList {
  padding-left: 0;
  margin-top: 0;
  list-style: none;
  li {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid $gray20;
    display: flex;
    align-items: flex-start;
  }
  li:last-child {
    border-bottom: none
  }
  &__nav {
    cursor: pointer;
    color: inherit;
    display: flex;
    align-items: flex-end;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    .icon {

    }
    .title {
      flex-grow: 2;
      font-size: 1.4em;
      margin-bottom: 0.2em;
      margin-top: 0;
      font-weight: 500;
      line-height: 120%;
    }
  }
  &__content {
    flex-grow: 2;
  }
  &__icon {
    margin: 15px;
    margin-right: 30px;
    .entry-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: $black;
      border: 2px solid $black;
      border-radius: 2px;
      &--events {
        transform: rotate(45deg) scale(0.9);
      }
      &--inactive {
        background-color: transparent;
      }
    }
  }
  &__attributes {
    align-items: baseline;
    font-size: 1em;
    color: $gray90;
    .category {
      font-size: 1.1em;
    }
    .item {
      margin: 0 1.5em 0 0;
      &.category {
        margin-bottom: .2em;
      }
    }
    .item .material-icons {
      vertical-align: bottom;
      font-size: 1.4em;
      margin-left: -0.3em;
      margin-right: -0.1em;
    }
    .meta {
      margin-right: 0.3em;
    }
  }
  &--lightColor {
    color: $gray50;
  }
}
