.list-pagination {
	margin-bottom: 30px;

	a {
		border: 1px solid #ddd;
		padding: 3px 8px;
		margin-right: 4px;
		&.active {
			font-weight: bold;
			background-color: #eee;
		}
	}

	&__navigation, &__info {
		display: inline;
		margin-right: 5px;
		line-height: 2em;
		word-wrap: break-word;
	}

	&__pagesize {
		display: inline-block !important;
		width: auto;
		padding: 3px;
		height: auto;
	}
}
