body {
	margin: 0;
	background-color: $white;
	color: $black;
}

* {
  box-sizing: border-box;
}

.cursor {
  cursor: pointer;
}
.text-center {
  text-align: center;
}

/*overwrite default materialize grid behavior*/
@media screen and (max-width: $break-small) {
  .row .col.s12 {
    padding: 0;
  }
}


.afeefaCard {
  $height: 24px;
  background-color: white;
  margin-top: 2em;
  @media screen and (max-width: $break-small) {
    margin-left: 0;
    margin-right: 0;
  }
  /*top level divs*/
  > div {
    padding: 1em;
  }
  &__header {
    background-color: $black_alpha;
    color: $white;
    display: flex;
    align-items: center;
  }
  &__headerTitle {
    flex-grow: 2;
    line-height: $height;
    font-size: 1.2em;
    margin: 0;
  }
  &__headerAction {
    color: inherit;
    max-height: $height;
  }
}
