body {
	margin: 0;
	
	background-color: $black;
	/*background-image: url("img/polygones.svg");*/
	/*@include background-size(cover);*/
	/*@include filter(grayscale(100%));*/
	/*font-family: 'Roboto', sans-serif !important;*/
	/*font-weight: 200;*/
	color: $white;
}

/*a {
	color: white;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}*/