/* component: entry-tile */
.entry-tile {

	width: 15em;
	box-sizing: border-box;

	transition: opacity 250ms;
	background-color: $gray90;
	margin: 0 1em 1em 0;

	cursor: pointer;
	opacity: .6;

	&:hover {
		opacity: 1;
		box-shadow: 0 0 10px #222;
	}

	.image {
		position: relative;

		img {
			width: 100%;
		}

		h3 {
			position: absolute;
			bottom: 0;
			margin: 0;
			padding: .2em .5em;
			box-sizing: border-box;
			
			font-weight: normal;
			background-color: $black_alpha;
		}
	}

	article {
		color: $gray50;
		padding: .5em;
	}
}