$break-small: 420px;


/*Colors*/
$white: #f2f2f2;
$black: #333333;
$black_alpha: rgba(0,0,0,0.8);

$gray20: #DDDDDD;
$gray50: #999999;
$gray80: #666666;
$gray90: #444444;

$yellow: #E4B100;
$yellow_dvb: #fdc400;
$red: #a21c15;
$blue: #089FE1;
$green: #50B357;
$blue_dark: #085272;
$olive: #5e6823;
$violet: #693e75;
$orange: #CA7311;
$turquoise: #318B86;

/*Sizes*/
$header-height: 3.5em;
