/* line 1, sass/_basic.scss */
body {
  background-color: #333;
  color: #f2f2f2;
  font-family: sans-serif;
}

/* line 8, sass/_basic.scss */
a {
  color: white;
  text-decoration: none;
}
/* line 12, sass/_basic.scss */
a:hover {
  text-decoration: underline;
}

/* line 1, sass/_user-context.scss */
#user-context {
  background-color: #666666;
  width: 10vw;
  height: 10vh;
}

/* line 1, sass/_navigation.scss */
navigation {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  padding: .5em;
}

/* line 3, sass/_todo-list.scss */
#todo-list .todo-list-items {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  /*@include align-items(center);*/
  /*@include align-content(center);*/
}

/* component: entry-tile */
/* line 2, sass/_component_entry-tile.scss */
.entry-tile {
  width: 15em;
  -moz-transition: background-color 250ms;
  -o-transition: background-color 250ms;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
  background-color: #444444;
  padding: .5em;
  margin: 0 1em 1em 0;
}
/* line 11, sass/_component_entry-tile.scss */
.entry-tile:hover {
  background-color: #666666;
}
/* line 15, sass/_component_entry-tile.scss */
.entry-tile h3 {
  font-weight: normal;
  margin: 0;
}
/* line 20, sass/_component_entry-tile.scss */
.entry-tile article {
  /*background-color: black;*/
}
