.annotationArea {
  background: $white;
  padding: 0.5em;
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  &__error {
    color: $gray50;
    margin-left: 0.3em;
  }
  /*change color of annotationTag if inside annotationAre*/
  .annotationTag {
    background: $blueHightlight;
    color: #fff;
    margin: 0.4em 0.3em;
    padding: 0.5em 0.8em;
    border-left-width: 0;
    /*remove border*/
  }
}
.annotationTag {
    background: #F2F2F2;
    border-radius: 2px;
    border-left: 5px solid $blueHightlight;
    max-width: 100%;
    line-height: 140%;
    word-break: break-word;
    padding: 0.4em 0.5em 0.3em 0.5em;
    margin: .5em 1em 0.4em 0;
    display: inline-block;
    &__icon {
      color: inherit;
      cursor: pointer;
    }
    &__icon i {
      font-size: 1.3em;
      vertical-align: sub;
    }
}

.annotationNew {
  display: block;
  width: 100%;
  margin-top: 0.4em;
}
