.dialog {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  max-width: 500px;
  padding: 2em 2em 1em;
  border-radius: 4px;
  background: $black;
  color: $white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  align-items: center;
  display: flex;
  transition: all 0.5s ease;
  top: ($header-height*1.1);
  opacity: 1;

  &__closeIcon {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    i {
      font-size: 30px;
    }
  }
  &__content {
    width: 100%;
    font-size: 1.2rem;
  }
  &__contentTitle {
    font-size: 1.6em;
    font-weight: 500;
    margin: 0;
  }
  &__contentMessage {
    margin: 2em 0 3em;
    font-size: 0.9em;
    font-weight: 300;
    white-space: pre-wrap;
  }
  &__contentActions {
    width: 100%;
    text-align: center;
  }
  button {
    color: black;
    min-width: 60px;

    &:first-child {
      margin-right: 20px;
    }
  }
}

/*@todo: change icon*/
$alert-border-width: 7px;
.alert--error {
  border-left: $alert-border-width solid $red;
}
.alert--success {
  border-left: $alert-border-width solid $green;
}
