.entryForm {
  &__actionFooter {
    margin-top: 1.2em;
    display: flex;
    justify-content: space-between;
  }
}

.input-field {
  .flatpickr-input {
    color: inherit !important;
  }
}

.row-DateAndTime {
  display: flex;
  align-items: baseline;
}

.date-field {
  width: 30%;
}

.showTime-button {
  padding-left: 0.5em;
  padding-right: 0.45em;
  margin: 0em 1em 0em 2em;
}

.hide-endDate {
  opacity: 0;
}

.date-field label.hide-sameDay-label {
    opacity: 0;
}
