/* component: entry-tile */
.entry-tile {

	width: 15em;

	@include transition(background-color 250ms);
	background-color: $gray90;
	padding: .5em;
	margin: 0 1em 1em 0;

	&:hover {
		background-color: $gray80;
	}

	h3 {
		font-weight: normal;
		margin: 0;
	}

	article {
		/*background-color: black;*/
	}
}