#login-canvas {
  display: flex;
  align-items: center;
  justify-content: center;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top:1em;
  padding:2em 1em;
  /*height:16em;
  width:12em;*/
  min-width:24em;
  flex:none;
  color: $gray20;
  background-color: $white;
  input {
    width:16em;
  }
}

img {
  width:33%;
  align-self: center;
  margin-bottom:10px;
}

.errorMsg {
  color: $red;
}
