/* Main scss file */
@charset "UTF-8";

$roboto-font-path: "../../../node_modules/materialize-css/dist/fonts/roboto/" !default;
// Mixins
// @import "components/prefixer";
//@import "~materialize/components/mixins";
@import "~materialize/components/color";

// Variables;
@import "~materialize/components/variables";

/* =======================> overwrite <=======================
   main scss variables */
@import 'variables';
$secondary-color: $secondaryBlue !default;
$success-color: $green !default;
$error-color: $red !default;
$link-color: $secondaryBlue !default;
$button-raised-background: $secondary-color !default;
$button-floating-background: $secondary-color !default;
$button-raised-background-hover: lighten($secondaryBlue, 5%);
$input-focus-color: $secondaryBlue;
/* =======================> overwrite end <======================= */

// Reset
@import "~materialize/components/normalize";

// ~materialize/components
@import "~materialize/components/global";
@import "~materialize/components/icons-material-design";
@import "~materialize/components/grid";
@import "~materialize/components/roboto";
@import "~materialize/components/typography";
@import "~materialize/components/buttons";
@import "~materialize/components/forms/forms";

/* global styles and layouts */
@import 'basic';
/* font configuration */
@import 'fonts';
/* customize materialize styles */
@import 'materialize-custom';
@import 'materialize-reset';
/* customize vue-select styles */
@import 'vueselect-custom';
/* style for entry detail */
@import 'entry-detail-form';
/* style for entry edit */
@import 'entry-edit-form';
/* global mixins */
@import 'mixins';
/* tranistions */
@import 'transitions';
