html {
  overflow-y: scroll;
}

body {
	margin: 0;
	background-color: $white;
	color: $black;
  min-width: 320px;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}
.hideDesktop {
  display: inherit;
  @media screen and (min-width: $break-medium) {
    display: none!important;
  }
}
.hideMobile {
  display: inherit;
  @media screen and (max-width: $break-medium) {
    display: none!important;
  }
}

/*spacing for fixed header*/
$sidebarWidth: 320px;
.content {
  &__sidebar {
    display: none;
  }
  @media screen and (min-width: $break-medium) {
    &__sidebar {
      display: inherit;
      width: $sidebarWidth;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      padding: 0 1rem;
    }
    &__main {
      width: 100%;
      padding-left: $sidebarWidth;
    }
  }
}

.cursor {
  cursor: pointer;
}

/*overwrite default materialize grid behavior*/
@media screen and (max-width: $break-small) {
  .row .col.s12 {
    padding: 0;
  }
}

.mainCard {
  $height: 24px;
  max-width: 1000px;
  background-color: white;
  margin-top: 2em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  h2 {
    font-size: 1.2em;
  }
  @media screen and (max-width: $break-small) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
  }
  /*top level divs*/
  > div {
    padding: 1.5em;
    @media screen and (max-width: $break-medium) {
      padding: 1em 0.8em;
    }
  }
}

//proper inline spacing for material icons
.spacingRight {
    margin-right: 0.2em;
}
.spacingLeft {
    margin-left: 0.2em;
}

.inlineEditLink {
  color: $gray30;
  font-size: .8em;
  text-decoration: underline;

  &.medium {
    font-size: .9em;
  }

  &:hover {
    color: $secondaryBlue;
  }
}