/* stylelint-disable selector-class-pattern */

@mixin categoryColors($alpha_background: 1, $alpha_border: 1) {
  /* colors copied from frontend code base */
  $gray50: #999999;
  $yellow: #E4B100;
  $red: #A21C15;
  $blue_dark: #085272;
  $olive: #5E6823;
  $turquoise: #318B86;
  $violet: #693E75;
  $orange: #CA7311;
  $olive: #5E6823;
  $blue_dark: #085272;

  &.cat-general   {
    background-color: rgba($gray50, $alpha_background);
    border-color: rgba($gray50, $alpha_border);
    color: $white;
  }

  &.cat-language  {
    background-color: rgba($yellow, $alpha_background);
    border-color: rgba($yellow, $alpha_border);
  }

  &.cat-medic {
    background-color: rgba($red,$alpha_background);
    border-color: rgba($red, $alpha_border);
    color: $white;
  }

  &.cat-jobs {
    background-color: rgba($blue_dark,$alpha_background);
    border-color: rgba($blue_dark, $alpha_border);
    color: $white;
  }

  &.cat-consultation {
    background-color: rgba($olive,$alpha_background);
    border-color: rgba($olive, $alpha_border);
    color: $white;
  }

  &.cat-leisure {
    background-color: rgba($turquoise,$alpha_background);
    border-color: rgba($turquoise, $alpha_border);
    color: $white;
  }

  &.cat-community {
    background-color: rgba($violet,$alpha_background);
    border-color: rgba($violet, $alpha_border);
    color: $white;
  }

  &.cat-donation {
    background-color: rgba($orange,$alpha_background);
    border-color: rgba($orange, $alpha_border);
    color: $white;
  }

	&.cat-advice-and-support {
		background-color: rgba($olive,$alpha_background);
		border-color: rgba($olive, $alpha_border);
  }

	&.cat-living-in-leipzig {
		background-color: rgba($yellow, $alpha_background);
		border-color: rgba($yellow, $alpha_border);
  }

	&.cat-work-and-education {
		background-color: rgba($blue_dark,$alpha_background);
		border-color: rgba($blue_dark, $alpha_border);
	}
}
/* stylelint-enable */
