.formElement {
  &.marginTop {
    margin-top: 2.5em;
  }

  &.halfMarginTop {
    margin-top: .8em;
  }
}

.entryForm {
  h2 {
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-size: 1.4em;
    font-weight: 500;
  }

  h2:first-child {
    margin-top: 1em;
  }

  .mandatoryField {
    color: darken($secondaryBlue, 15);
  }
}

/* stylelint-disable selector-class-pattern */
span.validation-error {
  color: #DD6666;

  &.geodata-not-found {
    margin-bottom: 0;
  }
}

span.validation-hint {
  font-size: .9em;
  color: #999999;
  i {
    vertical-align: middle;
    font-size: 1.4em;
  }
}
/* styleling-enable */
