/*
 * Avaible in global context:
 * build/utils.js: function generateLoaders
 */
$break-small: 420px;
$break-medium: 850px;

/*Colors*/
$white: #F2F2F2;
$black: #333333;
$black_alpha: rgba(0,0,0,0.8);
$h2_color: #CC0000;

$gray10: #ECECEC;
$gray20: #DDDDDD;
$gray30: #BBBBBB;
$gray50: #999999;
$gray80: #666666;
$gray90: #444444;

$yellow: #E4B100;
$yellow_dvb: #FDC400;
$red: #A21C15;
$red_dark: #885555;
$pink: #F06D71;
$blue: #089FE1;
$blueHightlight: #3F89DD;
$green: #50B357;
$green_darker: #40A347;
$blue_dark: #085272;
$olive: #5E6823;
$violet: #693E75;
$orange: #CA7311;
$turquoise: #19A79A;
$secondaryBlue: #5B8FD2;

/* this overwrites the internal materialize variable */
$teal: $secondaryBlue;
$cyan: $secondaryBlue;

/*Sizes*/
$header-height: 120px;
$default-border-radius: 4px;

/*z-index for alert and dialog*/
$z-index-overlay: 1000;
