.customMultiselect {
  .multiselect__input {
    border: none !important;
    box-shadow: none !important;
    padding: .3em !important;
  }

  .multiselect__tags {
    border: 1px solid $gray10;
    background-color: $white;
    border-radius: 2px;
    padding-left: 8px;
  }
  .multiselect__option {
    padding: .6em .8em;
    height: auto;
    min-height: 1em;
    border-bottom: 1px solid $gray10;
  }
  .multiselect__option--highlight, .multiselect__option--highlight:after {
    background: $secondaryBlue;
  }
  .multiselect__option--selected {
    font-weight: normal;
  }
  .multiselect__tag {
    background: $secondaryBlue;
    padding: 8px 26px 8px 14px;
    i:after {
      line-height: 30px;
       color: white;
    }
  }
  /* stylelint-disable selector-class-pattern */
  .multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
    background: $secondaryBlue;
  }
  /* stylelint-enable */
  .multiselect--active {
    z-index: 10;
  }
  .multiselect--active .multiselect__content {
    background: white;
    z-index: 10000;
  }
  .multiselect--active .multiselect__tags {
    background-color: white;
    border: 1px solid $gray20;
  }
  .multiselect__single {
    display: none;
  }
}
/* another variant of the custom sytle with borders and a background color — used for tag input*/
.customMultiselect--border {
  .multiselect__tags {
    border: 1px solid #E8E8E8;
    background: $gray10;
    padding: 8px 40px 0 8px;
  }
}
/*
 * this class gets applied after the selection of one parentOrga
 * ist hides the corresponding inputs to prevent the ability to select another parentOrga
 */
.customMultiselect--hide {
  .multiselect__select,
  .multiselect__input,
  .multiselect__content {
    display: none;
  }
}

