{{user-context user=model}}

<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">TODO (12) [in progress]</span>
          <p>Zu erledigende Aufgaben</p>
        </div>
        <div class="card-action">
            {{#link-to "todos"}}Alle Todos{{/link-to}}
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">Organisationen ({{model.orgas.length}})</span>
          <p>Alle erstellten Organisationen</p>
        </div>
        <div class="card-action">
            {{#link-to "orgas"}}Alle Orgas{{/link-to}}
            {{#link-to "neworga"}}Neue Orga{{/link-to}}
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">Events</span>
          <p>Alle erstellen Events</p>
        </div>
        <div class="card-action">
            {{#link-to "events"}}Alle Events{{/link-to}}
            {{#link-to "newevent"}}Neues Event{{/link-to}}
        </div>
      </div>
    </div>
</div>







{{outlet}}
