<div class='loading'>
  <div class='loading-container'>
    <div class='afeefa-logo'>
          <img class="login__logo" src="/assets/images/afeefa_light_withoutLink.svg" alt="Afeefa Logo with white background">
    </div>
    <div class=loading-hint>
      <div class='loading-text'>
        <h6> loading data </h6>
      </div>
      <div class='loading-spin'>
        {{spin-spinner lines=13 length=1 width=5 radius=20 scale=0.3}}
      </div>
    </div>
  </div>
</div>
