<div id="login-canvas">
  <div id="login">
    <img src="/assets/images/afeefa_light.svg" alt="Afeefa Logo with white background">
    <form {{action 'authenticate' on='submit'}}>
      {{paper-input label="Email" value=email onChange=(action (mut email))}}
      <br>
      {{paper-input label="Password" type="password" value=password onChange=(action (mut password))}}

      <br>
         {{#paper-button raised=true onClick=(action "authenticate")}}Login{{/paper-button}}
      {{#if errorMessage}}
        <p class="errorMsg">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>
