<div id="login-canvas">
  <div id="login">
    <img src="/assets/images/afeefa_light.svg" alt="Afeefa Logo with white background">
    <form {{action 'authenticate' on='submit'}}>
      {{paper-input label="Name" value=name}}
      <br>
      {{paper-input label="Password" type="password"}}

      <br>
         {{#paper-button raised=true action="loginButton"}}Login{{/paper-button}}
      {{#if errorMessage}}
        <p>{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>
