<div class="login">
  <div class="row">
    <div class="col s12 m8 push-m2 l4 push-l4">
        <img class="login__logo" src="/assets/images/afeefa_light.svg" alt="Afeefa Logo with white background">
        <div class="mainCard">
          <div class="mainCard__header">
            <h2 class="mainCard__headerTitle">Login</h2>
          </div>
          <div>
            <form {{action 'authenticate' on='submit'}}>
              <div class="input-field">
                {{input value=email id="email" type="email" class="validate"}}
                <label for="email">E-Mail</label>
              </div>
              <div class="input-field">
                {{input value=password id="password" type="password" class="validate"}}
                <label for="password">Passwort</label>
              </div>
              <div class="submit-btn-container">
                <button class="login__submit btn waves-effect waves-light z-depth-1" type="submit">Login
                  <i class="material-icons left">lock</i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
