{{outlet}}

<div class="row">
    <div class="col s12 m8 push-m2">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">{{model.title}}</span>
          <p>{{model.description}} Eine Beispielbeschreibung</p>
        </div>
        <div class="card-action">
            {{#link-to "editorga" model.id}}Bearbeiten{{/link-to}}
            <a {{action 'delete'}}>Löschen</a>
        </div>
      </div>
    </div>
</div>


