{{outlet}}

<div class="row">
  <div class="col s12 m6">
    {{model-list instances=model.instances.orgas attributes=model.attributes}}
  </div>
</div>

<!--
  {{#each model.orgas as |orga|}}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">{{orga.title}}</span>
          <p>{{orga.description}} Eine Beispielbeschreibung</p>
        </div>
        <div class="card-action">
            {{#link-to "orga" orga.id}}Anzeigen{{/link-to}}
            {{#link-to "editorga" orga.id}}Bearbeiten{{/link-to}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
-->


